
.container {
      box-shadow: 5px 15px 7px gray, -5px -5px 7px gray;
  }
 
  form h1{
      text-align: center;
      color: purple;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }

  p{
      text-align: center;
  }

  form input{
      width: 97%;
      padding: 8px;
      margin: 8px;
      border: 1px solid gray;
      border-radius: 5px;        
  }

  button{
      width: 97%;
      margin: 8px;
      padding: 8px;
      background: blue;
      border: none;
      outline: none;
      border-radius: 10px;
      color: white;
      font-size: 17px;
      cursor: pointer;
      transition: 0.5%;

  }

  button:hover {
	box-shadow: 0 2px blue;
    top: 4px;
    
}

 button:active {
	box-shadow: 0 0 blue;
	top: 6px;
}


p a{
    text-decoration: 2px solid blue;
    color: blue;
}

hr{
    border-top: 2px solid grey;
}


form label{
    
    display: flex;
    justify-content:center;
}

input:focus {
border: 1.0px solid black;
}
input:hover {
    border: 1.0px solid black;
    }  